# Ignore the directory that contains installed Node.js packages.
node_modules/

# Ignore all files with a .log extension.
*.log

#  Ignore the file that contains environment variables and sensitive information.
.env